	<table>
	<% Book.all.sort_by(&@sortby.to_sym).each do |book| %>
		<tr>
			<td><%= book.id %></td>
			<td><%= book.title %></td>
			<td><%= book.author %></td>
			<td><%= book.language %></td>
			<td><%= book.published %></td>
		</tr>
	<% end %>
	</table>